.tetu-ui-Alert {
  padding: 10px 16px;
  background: #222d40;
  mix-blend-mode: normal;
  border-radius: 8px;
}

.tetu-ui-Alert__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tetu-ui-Alert__icon {
  min-width: 32px;
  flex-basis: 32px;
}

.tetu-ui-Alert__icon img {
  vertical-align: top;
}

.tetu-ui-Alert__message {
  min-width: calc(100% - 32px);
  flex-basis: calc(100% - 32px);

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #7f8fa4;
}
