.tetuBal__title {
  margin-bottom: 22px !important;

  font-family: 'Source Sans Pro' !important;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 44px !important;
  /*text-align: center;*/

  color: #ffffff !important;
}

@media (max-width: 1199px) {
  .tetuBal__title {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 767px) {
  .tetuBal__title {
    font-size: 28px !important;
  }
}

.tetuBal__sub-title {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 64px;

  margin-bottom: 25px;
  padding: 12px 32px 0;

  text-align: center;

  border-radius: 8px;

  background: linear-gradient(180deg, #2b2e48 0%, #282046 100%);
}

@media (max-width: 1199px) {
  .tetuBal__sub-title {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .tetuBal__sub-title {
    padding: 21px 20px 10px;
  }
}

.tetuBal__sub-title img {
  vertical-align: middle;

  width: 23px;
  height: 23px;

  margin-left: 12px;
  margin-right: 12px;
}

.tetuBal__sub-title .tetu-ui-Icon img {
  margin: 0;
}

.tetuBal__sub-title h4 {
  margin-bottom: 0;

  font-family: 'Source Sans Pro';
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 22px !important;

  color: #ffffff !important;
}

.tetuBal__sub-title-separator {
  width: 12px;
  height: 2px;

  margin-left: 21px;
  margin-right: 21px;

  border-radius: 2px;

  background-color: #fff;
}

.tetuBal__sub-title-item-wrapper {
}

/* @media screen and (min-width: 1300px) {
  .tetuBal__sub-title-item-wrapper {
    flex: 0 0 auto;
    max-width: 100%;
  }
} */

.tetuBal__sub-title-item,
.tetuBal__sub-title-separator {
  margin-bottom: 12px;
}

.tetuBal__sub-title-separator {
  /* display: none; */
}

/* @media screen and (min-width: 1300px) {
  .tetuBal__sub-title-separator {
    display: inline-block;
  }
} */

.tetuBal__sub-title-item:last-child {
  margin-right: 0px;
}

.tetuBal__sub-title-item:last-child:before {
  display: none;
}
